@media only screen and (max-width: 413px) {
  .thumbnail-container.scrollable a {
    padding: 3px;
  }
  .thumbnail-container {
    padding: 3px;
  }
  .thumbnail-container.scrollable {
    flex: 0 0 calc(45% - 13px);
  }
  #navbarSupportedContent {
    width: 70%;
  }
}