@media only screen and (max-width: 426px) {
  .input-container {
    flex-direction: column;
  }
  .input-container button {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .counter-main-container {
    flex-direction: column;
  }
  .counter-container {
    width: 100%;
  }
  .bonus-inner-container .img-container {
    width: 50%;
  }
  .bonus-text-container p.lead {
    font-size: 1rem;
  }
  .transaction-history-container .transaction-inner-container {
    flex-direction: column;
    gap: 0.5rem;
    margin-top: 0 !important;
  }
  
  .account-profile h1 {
    font-size: 1.5rem;
    margin-top: 3rem!important;
    margin-bottom: 2rem!important;
  }
  .account-profile .nav-fill .nav-item .nav-link {
    text-wrap: nowrap;
  }
  .account-profile {
    width: 100%;
  }
  .account-profile .personal-info {
    flex-direction: column;
  }
  .account-profile .personal-info .form-group:nth-of-type(1),
  .account-profile .personal-info .form-group:nth-of-type(2) {
    width: 100%;
  }
  main.affiliates-container .input {
    max-height: 13rem;
  }
  #modal-signup .signup-bg,
  #modal-login .login-bg {
    width: 0;
  }
  #modal-signup .signup-content,
  #modal-login .login-content {
    width: 100%;
  }
  main.terms-and-condition-container .main-container {
    padding: 2rem 1rem;
  }
  main.terms-and-condition-container .main-container h1,
  main.affiliates-container .affiliates-inner-container h1 {
    font-size: 1.5rem;
  }
  main.affiliates-container .header-title {
    font-size: 1.5rem;
  }
  main.affiliates-container .contact-header {
    flex-direction: column;
    gap: 1rem;
  }
  main.affiliates-container .affiliates-main-container {
    padding: 3rem 2rem;
  }
  main .promotions-main-container {
    padding: 1rem 2rem;
  }
  main .promotions-container .promotions-inner-container button {
    margin-top: 0.5rem;
  }
  main .promotions-container .promotions-inner-container h2 {
    font-size: 1.3rem;
  }
  main .promotions-container .promotions-inner-container p {
    font-size: 0.82rem;
  }
  main .promotions-container .title {
    margin-top: 2rem!important;
    margin-bottom: 2rem!important;
    font-size: 1.5rem;
  }
  main .search-container .input-group {
    min-width: auto;
  }
  main .tab-container .tab-item a {
    font-size: 13px;
  }
  h5.bottom-title.no-menu {
    margin-bottom: 0.5rem;
  }
  .thumbnail-main-container {
    gap: 8px;
    margin-top: 0rem;
  }
  header .main-menu svg {
    width: 50px;
  }
  header .main-header img {
    max-width: 100px;
  }
  section.hero-container {
    height: 84vw;
  }
  section.hero-container h1.title {
    font-size: 1.5rem;
    line-height: 22px;
  }
  section.hero-container .main-title-container {
    max-width: 22rem;
  }
  section.hero-container .hero-text-container {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  section.hero-container p.sub-title {
    font-size: 10px;
    max-width: 15rem;
    margin-top: 0.5rem;
  }
  #navbarSupportedContent {
    width: 60%; /* Adjust based on your preference */
  }
  /*START FOOTER*/
  footer .footer-title-container {
    width: 100%;
  }
  footer .left-image-container .img-container {
    width: 50%;
    text-align: center;
  }
  footer .footer-container .footer-content {
    text-align: center;
  }
  footer .footer-container .footer-title {
    text-align: center;
  }
  footer .community-container,
  footer .help-container,
  footer .casino-container {
    margin-top: 1rem;
  }
  footer .partner-container {
    margin-top: 1rem !important;
  }
  /*END FOOTER*/
  section.hero-container .banner-image-container .main-image {
    width: 44vw;
  }
  section.hero-container .banner-image-container .side-image {
    width: 28vw;
  }
  section.hero-container .banner-image-container h5 {
    font-size: 12px;
  }
  h5.bottom-title {
    font-size: 16px;
  }
  main .tab-main-container {
    display: unset;
  }
  main .see-all-link {
    display: none;
  }
  main .search-container {
    border-bottom: unset;
  }
  .thumbnail-container {
    flex: 0 0 calc(40% - 10px);
  }
}