@media only screen and (max-width: 769px) {
  .account-profile {
    width: 95%;
  }
  .affiliates-container .card-container {
    flex-direction: column;
    align-items: center;
  }
  .affiliates-container .card-container .card {
    width: 100%;
  }
  section.hero-container {
    height: 74vw;
  }
  section.hero-container h1.title {
    font-size: 2rem;
    line-height: 30px;
    margin-bottom: 0;
  }
  section.hero-container .main-title-container {
    max-width: 30rem;
  }
  section.hero-container .hero-text-container {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  section.hero-container p.sub-title {
    font-size: 12px;
    max-width: 18rem;
  }
  #navbarSupportedContent {
    width: 40%; /* Adjust based on your preference */
  }
  header .mobile-header-logo {
    width: 82px;
    margin-left: 5px;
  }
  section.hero-container .banner-image-container .main-image {
    width: 40vw;
  }
  section.hero-container .banner-image-container .side-image {
    width: 27vw;
  }
  section.hero-container .banner-image-container h5 {
    bottom: -1rem;
  }
  .thumbnail-container {
    flex: 0 0 calc(33% - 13px);
  }
  .thumbnail-main-container {
    justify-content: center;
  }
}